@model IEnumerable<MedicalAppointment.Models.Specialization>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách chuyên khoa</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên chuyên khoa
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Giá khám
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @string.Format("{0:#,0}", item.Price).Replace(",", ".")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Chỉnh sửa</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Chi tiết</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
