@model IEnumerable<MedicalAppointment.Models.Shift>

@{
    ViewData["Title"] = "Index";
}

<h1>Ca trực</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Bác sĩ
            </th>
            <th>
                Ngày trực
            </th>
            <th>
                Ca trực
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Schedule?.ApplicationUser?.FullName
            </td>
            <td>
                @string.Format("{0:dd-MM-yyyy}", item.Schedule?.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSlot)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
